<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>
  <div class="login-box-body" id="login-box">
    <form role="form" ng-submit="login()" method="post">
      <div class="body bg-gray">
        <div class="callout callout-danger" ng-if="loginError">
          <p>{{loginError.message | translate}}</p>
        </div>
        <auto:fields fields="schema" data="credentials" options="options"></auto:fields>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-olive btn-block" translate>Sign in</button>
        <a href='#/register' class="btn bg-yellow btn-block" translate>Or register</a>
        <a ng-repeat="provider in authProviders" ng-hide="provider.link" ng-click="socialLogin(provider)"
           class="btn btn-block btn-{{provider.class}}">
          {{provider.provider | ucfirst}}
        </a>
      </div>
    </form>
  </div>
</div>
