<div class="row">
  <div class="col-md-4">
    <form name="form">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your profile
        </div>
        <div class="panel-body">
          <form name="form" ng-submit="ctrl.submit()">
            <fieldset>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="ctrl.user.email" required/>
              </div>

              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="ctrl.user.username" required/>
              </div>
              <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" ng-model="ctrl.user.firstName" />
              </div>

              <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" ng-model="ctrl.user.lastName" />
              </div>
            </fieldset>
          </form>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()"
                  ng-disabled="form.$invalid">
            Submit
          </button>
          <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ 'Your Gravatar' | translate }}
      </div>
      <div class="panel-body">
        <img gravatar-src="user.email" class="img-circle" alt="User Image" gravatar-size="150">
        <h4><a href="http://gravatar.com" target="_blank" translate>Change it here!</a></h4>
      </div>
    </div>
  </div>
</div>
