<form name="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span ng-show="!ctrl.setting.id" translate>Add a new setting</span>
      <span ng-show="ctrl.setting.id" translate>Edit setting</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <form name="form" ng-submit="ctrl.submit()">
            <fieldset>
              <div class="form-group">
                <label>Key</label>
                <input type="text" class="form-control" ng-model="ctrl.setting.key" required/>
              </div>

              <div class="form-group">
                <label>Value</label>
                <input type="text" class="form-control" ng-model="ctrl.setting.value" required/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
        Submit
      </button>
      <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Reset</button>
    </div>
  </div>
</form>
