<header class="main-header">
  <a class="logo" href="/">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>NT</b>F</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{ getSetting('appName') }}</span>
    </a>
  <navbar></navbar>
</header>

<aside class="main-sidebar sidebar-offcanvas">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img gravatar-src="currentUser.email" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>
          <a href="" ui-sref="app.users.profile">
            {{ 'Hello,' | translate }} {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}
          </a>
        </p>

        <p>
          <small><a href="" ui-sref="app.users.profile">{{ currentUser.email }}</a></small>
        </p>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li ng-repeat="item in menuoptions" ui-sref-active="active" class="treeview">
        <a class="" href="" ui-sref="{{item.sref}}"><i class="fa {{item.icon}}"></i> <span>{{item.name | translate}}</span></a>
      </li>
    </ul>
  </section>
</aside>
<div ui-view class="content-wrapper at-view-fade-in at-view-fade-out">

</div>

