<header class="main-header">
  <a class="logo" href="/">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>NT</b>F</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{ getSetting('appName') }}</span>
    </a>
  <navbar></navbar>
</header>

<aside class="main-sidebar sidebar-offcanvas">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img gravatar-src="currentUser.email" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>
          <a href="" ui-sref="app.users.profile">
            {{ 'Hello,' | translate }} {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}
          </a>
        </p>

        <p>
          <small><a href="" ui-sref="app.users.profile">{{ currentUser.email }}</a></small>
        </p>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li ng-repeat="item in menuoptions" ui-sref-active="active" class="treeview">
        <a class="" href="" ui-sref="{{item.sref}}"><i class="fa {{item.icon}}"></i> <span>{{item.name | translate}}</span></a>
      </li>
    </ul>
  </section>
</aside>
<div ui-view class="content-wrapper at-view-fade-in at-view-fade-out">

</div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="position: fixed;height: auto;">
    <!-- Tab panes -->
    <uib-tabset class="control-sidebar-tabs" active="active" justified="true">
      <!-- Home tab content -->
      <uib-tab heading="Plan">
        <h3 class="control-sidebar-heading">predict</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <div class="row">
                <div class="col-sm-4 border-right">
                    <h5 class="description-header"><span class="description-text">长期 <i class="fa fa-arrow-down bg-red"></i></span></h5>                    
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <h5 class="description-header"><span class="description-text">中期 <i class="fa fa-arrow-up bg-red"></i></span></h5>                    
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <h5 class="description-header"><span class="description-text">短期 <i class="fa fa-arrow-down bg-green"></i></span></h5>                    
                </div>
                <!-- /.col -->
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->
        <h3 class="control-sidebar-heading">应对</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <div class="menu-info">
                <p class="control-sidebar-subheading">做好手中的</p>
              </div>
            </a>
          </li>
        </ul>
      </uib-tab>
      <!-- /.tab-pane -->
      <!-- Trending tab content -->
      <uib-tab heading="Trending">Charting Tab Content</uib-tab>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <uib-tab heading="Stats">
        <h3 class="control-sidebar-heading">正确率</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                长期
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                中期
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                短期
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                策略
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->
      </uib-tab>
      <!-- /.tab-pane -->
    </uib-tabset>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
