<div class="panel panel-default">
  <div class="panel-heading">
    {{ 'Notes' | translate }}
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>

  <div class='list-group'>
    <div ng-repeat="item in ctrl.notes" class="list-group-item">
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
      <h4 class="list-group-item-heading">
        <a href="" ui-sref="^.view({id: item.id})">{{item.title}}</a>
      </h4>

      <p class="list-group-item-text" ng-click="ctrl.openTimeline(item.id)">{{item.body}}</p>
    </div>
    <div ng-show="!ctrl.notes.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        There are no notes
      </h4>

      <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a note!</p>
    </div>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">关于此标的所有想法</h3>
    </div>
    <div class="modal-body">
      <div class="input-group panel-body">
        <input type="text" data-ng-model="newEvent.content" class="form-control" placeholder="您此时的想法...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="save()">添加</button>
      </span>
      </div>
      <timeline style="max-width: 100%;">
        <timeline-event ng-repeat="event in events">
          <timeline-badge class="{{event.badgeClass}}">
            <i class="glyphicon {{iconClass[event.badgeClass]}}"></i>
          </timeline-badge>
          <timeline-panel class="{{event.badgeClass}}" ng-dblclick="delete(event.id)">
            <timeline-heading>
              <h4>{{event.created}}</h4>
            </timeline-heading>
            <p>{{event.content}}</p>
          </timeline-panel>
        </timeline-event>
      </timeline>
    </div>
    <div class="modal-footer">
      <span class="label label-default pull-left">双击可以删除</span>
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <!--button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button-->
    </div>
  </script>
</div>
